<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/User/Desktop/Sellenium/ToolsQA_project/src/test">
        <groups>
            <run>
                <include name="Regression"/>
                <exclude name="Login"/>
                <exclude name="Logged"/>
            </run>
        </groups>
        <classes>
            <class name="TestsWithNoLogin"></class>
            <class name="TestsWithLoginRequired"></class>
        </classes>
    </test>
</suite>